.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem
}

.headerWrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 180px;
  height: auto;
  object-fit: contain;
}

.navLinks {
  display: flex;
  gap: 1rem;
}

.navLink {
  text-decoration: none;
  color: #333;
}

.navLink:hover {
  color: #666;
} 